*{
    margin: 0;
    padding: 0;
}
.descripcion{
    margin-left: 16px;
    max-width: 700px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5rem;
    text-align: justify;
}
.titulo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 30%;
    font-weight: bold;
}

img{
    max-width: 300px;
    height: 100%;
    width: auto;
}
body{background-color: #f5f6f7;
}
.contenedor{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    max-width: 85%
;
}
